# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\后端框架ssm\flowerShop\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
